<style>
        @font-face {
            font-family: 'Playwrite AU SA Regular';
            src: url('fonts/Playwrite AU SA/PlaywriteAUSA-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Playwrite AU SA Thin';
            src: url('fonts/Playwrite AU SA/PlaywriteAUSA-Thin.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Playwrite AU SA Light';
            src: url('fonts/Playwrite AU SA/PlaywriteAUSA-Light.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Playwrite GB S Regular';
            src: url('fonts/Playwrite GB S/PlaywriteGBS-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Playwrite GB S Thin';
            src: url('fonts/Playwrite GB S/PlaywriteGBS-Thin.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Playwrite GB S Light';
            src: url('fonts/Playwrite GB S/PlaywriteGBS-Light.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        /* 全局样式 */
        body {
            font-family: "Cascadia Mono", monospace; /* 使用 Cascadia Mono 字体，如果不可用则回退到系统默认等宽字体 */
            display: flex; /* 使用 flexbox 布局 */
            justify-content: center; /* 水平居中内容 */
            align-items: center; /* 垂直居中内容 */
            height: 100vh; /* 设置body高度为视口高度 */
            background-color: #f0f0f0; /* 设置浅灰色背景 */
            flex-direction: column; /* 将flex项目垂直排列 */
            margin: 0; /* 移除默认外边距 */
            padding: 0; /* 移除默认内边距 */
        }
        /* 打字效果容器样式 */
        .typing {
            text-align: center; /* 文本居中对齐 */
        }
        /* 小标题样式 */
        .typing-tittle-small {
            font-family: 'Playwrite AU SA Light', monospace;
            font-size: 1.75em; /* 设置小标题字体大小 */
            color: blue; /* 设置小标题颜色为蓝色 */
        }
        /* 大标题样式 */
        .typing-tittle-large {
            font-family: 'Playwrite AU SA Light', monospace;
            font-size: 3em; /* 设置大标题字体大小 */
            color: blue; /* 设置大标题颜色为蓝色 */
        }
        /* 中等大小正文样式 */
        .typing-body-mid {
            font-family: 'Playwrite GB S Light', monospace;
            font-size: 1em; /* 设置正文字体大小 */
            color: gray; /* 设置正文颜色为灰色 */
        }
        /* 淡入效果样式 */
        .fade-in {
            opacity: 0; /* 初始设置为完全透明 */
            transition: opacity 0.5s ease-in-out; /* 添加0.5秒的淡入过渡效果 */
        }
        /* 逐字打印效果初始样式 */
        [data-printonebyone="true"] {
            visibility: hidden; /* 初始隐藏需要逐字打印的元素 */
        }
        .surface {
            position: relative;
            border-radius: 16px;
            height: 64px;
            width: 64px;
        }
        :root, .light-theme {
            --md-sys-color-primary-rgb: 0,89,199;
            --md-sys-color-primary: #0059c7;
            --md-sys-color-on-primary-rgb: 255,255,255;
            --md-sys-color-on-primary: #ffffff;
            --md-sys-color-primary-container-rgb: 217,226,255;
            --md-sys-color-primary-container: #d9e2ff;
            --md-sys-color-on-primary-container-rgb: 0,26,67;
            --md-sys-color-on-primary-container: #001a43;
            --md-sys-color-secondary-rgb: 87,94,113;
            --md-sys-color-secondary: #575e71;
            --md-sys-color-on-secondary-rgb: 255,255,255;
            --md-sys-color-on-secondary: #ffffff;
            --md-sys-color-secondary-container-rgb: 219,226,249;
            --md-sys-color-secondary-container: #dbe2f9;
            --md-sys-color-on-secondary-container-rgb: 20,27,44;
            --md-sys-color-on-secondary-container: #141b2c;
            --md-sys-color-tertiary-rgb: 114,85,115;
            --md-sys-color-tertiary: #725573;
            --md-sys-color-on-tertiary-rgb: 255,255,255;
            --md-sys-color-on-tertiary: #ffffff;
            --md-sys-color-tertiary-container-rgb: 252,215,251;
            --md-sys-color-tertiary-container: #fcd7fb;
            --md-sys-color-on-tertiary-container-rgb: 42,19,45;
            --md-sys-color-on-tertiary-container: #2a132d;
            --md-sys-color-error-rgb: 186,26,26;
            --md-sys-color-error: #ba1a1a;
            --md-sys-color-on-error-rgb: 255,255,255;
            --md-sys-color-on-error: #ffffff;
            --md-sys-color-error-container-rgb: 255,218,214;
            --md-sys-color-error-container: #ffdad6;
            --md-sys-color-on-error-container-rgb: 65,0,2;
            --md-sys-color-on-error-container: #410002;
            --md-sys-color-background-rgb: 254,251,255;
            --md-sys-color-background: #fefbff;
            --md-sys-color-on-background-rgb: 27,27,31;
            --md-sys-color-on-background: #1b1b1f;
            --md-sys-color-surface-rgb: 254,251,255;
            --md-sys-color-surface: #fefbff;
            --md-sys-color-on-surface-rgb: 27,27,31;
            --md-sys-color-on-surface: #1b1b1f;
            --md-sys-color-surface-variant-rgb: 225,226,236;
            --md-sys-color-surface-variant: #e1e2ec;
            --md-sys-color-on-surface-variant-rgb: 68,70,79;
            --md-sys-color-on-surface-variant: #44464f;
            --md-sys-color-outline-rgb: 117,119,128;
            --md-sys-color-outline: #757780;
            --md-sys-color-outline-variant-rgb: 197,198,208;
            --md-sys-color-outline-variant: #c5c6d0;
            --md-sys-color-shadow-rgb: 0,0,0;
            --md-sys-color-shadow: #000000;
            --md-sys-color-scrim-rgb: 0,0,0;
            --md-sys-color-scrim: #000000;
            --md-sys-color-inverse-surface-rgb: 48,48,52;
            --md-sys-color-inverse-surface: #303034;
            --md-sys-color-inverse-on-surface-rgb: 242,240,244;
            --md-sys-color-inverse-on-surface: #f2f0f4;
            --md-sys-color-inverse-primary-rgb: 175,198,255;
            --md-sys-color-inverse-primary: #afc6ff;
          }
          .dark-theme {
            --md-sys-color-primary-rgb: 175,198,255;
            --md-sys-color-primary: #afc6ff;
            --md-sys-color-on-primary-rgb: 0,45,108;
            --md-sys-color-on-primary: #002d6c;
            --md-sys-color-primary-container-rgb: 0,67,152;
            --md-sys-color-primary-container: #004398;
            --md-sys-color-on-primary-container-rgb: 217,226,255;
            --md-sys-color-on-primary-container: #d9e2ff;
            --md-sys-color-secondary-rgb: 191,198,220;
            --md-sys-color-secondary: #bfc6dc;
            --md-sys-color-on-secondary-rgb: 41,48,66;
            --md-sys-color-on-secondary: #293042;
            --md-sys-color-secondary-container-rgb: 63,71,89;
            --md-sys-color-secondary-container: #3f4759;
            --md-sys-color-on-secondary-container-rgb: 219,226,249;
            --md-sys-color-on-secondary-container: #dbe2f9;
            --md-sys-color-tertiary-rgb: 223,187,222;
            --md-sys-color-tertiary: #dfbbde;
            --md-sys-color-on-tertiary-rgb: 64,39,67;
            --md-sys-color-on-tertiary: #402743;
            --md-sys-color-tertiary-container-rgb: 89,62,90;
            --md-sys-color-tertiary-container: #593e5a;
            --md-sys-color-on-tertiary-container-rgb: 252,215,251;
            --md-sys-color-on-tertiary-container: #fcd7fb;
            --md-sys-color-error-rgb: 255,180,171;
            --md-sys-color-error: #ffb4ab;
            --md-sys-color-on-error-rgb: 105,0,5;
            --md-sys-color-on-error: #690005;
            --md-sys-color-error-container-rgb: 147,0,10;
            --md-sys-color-error-container: #93000a;
            --md-sys-color-on-error-container-rgb: 255,180,171;
            --md-sys-color-on-error-container: #ffb4ab;
            --md-sys-color-background-rgb: 27,27,31;
            --md-sys-color-background: #1b1b1f;
            --md-sys-color-on-background-rgb: 227,226,230;
            --md-sys-color-on-background: #e3e2e6;
            --md-sys-color-surface-rgb: 27,27,31;
            --md-sys-color-surface: #1b1b1f;
            --md-sys-color-on-surface-rgb: 227,226,230;
            --md-sys-color-on-surface: #e3e2e6;
            --md-sys-color-surface-variant-rgb: 68,70,79;
            --md-sys-color-surface-variant: #44464f;
            --md-sys-color-on-surface-variant-rgb: 197,198,208;
            --md-sys-color-on-surface-variant: #c5c6d0;
            --md-sys-color-outline-rgb: 143,144,153;
            --md-sys-color-outline: #8f9099;
            --md-sys-color-outline-variant-rgb: 68,70,79;
            --md-sys-color-outline-variant: #44464f;
            --md-sys-color-shadow-rgb: 0,0,0;
            --md-sys-color-shadow: #000000;
            --md-sys-color-scrim-rgb: 0,0,0;
            --md-sys-color-scrim: #000000;
            --md-sys-color-inverse-surface-rgb: 227,226,230;
            --md-sys-color-inverse-surface: #e3e2e6;
            --md-sys-color-inverse-on-surface-rgb: 48,48,52;
            --md-sys-color-inverse-on-surface: #303034;
            --md-sys-color-inverse-primary-rgb: 0,89,199;
            --md-sys-color-inverse-primary: #0059c7;
        }
    </style>