<style>
        @font-face {
            font-family: 'Playwrite AU SA Regular';
            src: url('fonts/Playwrite AU SA/PlaywriteAUSA-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Playwrite AU SA Thin';
            src: url('fonts/Playwrite AU SA/PlaywriteAUSA-Thin.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Playwrite AU SA Light';
            src: url('fonts/Playwrite AU SA/PlaywriteAUSA-Light.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Playwrite GB S Regular';
            src: url('fonts/Playwrite GB S/PlaywriteGBS-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Playwrite GB S Thin';
            src: url('fonts/Playwrite GB S/PlaywriteGBS-Thin.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Playwrite GB S Light';
            src: url('fonts/Playwrite GB S/PlaywriteGBS-Light.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Roboto Bold';
            src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Roboto Light';
            src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Roboto LightItalic';
            src: url('fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Roboto Italic';
            src: url('fonts/Roboto/Roboto-Italic.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Roboto Thin';
            src: url('fonts/Roboto/Roboto-Thin.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Roboto ThinItalic';
            src: url('fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
        /* 全局样式 */
        body {
            font-family: 'Roboto' , monospace; /* 使用 Cascadia Mono 字体，如果不可用则回退到系统默认等宽字体 */
            display: flex; /* 使用 flexbox 布局 */
            justify-content: center; /* 水平居中内容 */
            align-items: center; /* 垂直居中内容 */
            height: 100vh; /* 设置body高度为视口高度 */
            background-color: var(--md-sys-color-background); /* 设置浅灰色背景 */
            flex-direction: column; /* 将flex项目垂直排列 */
            margin: 0; /* 移除默认外边距 */
            padding: 0; /* 移除默认内边距 */
        }
        /* 打字效果容器样式 */
        .typing {
            text-align: center; /* 文本居中对齐 */
        }
        /* 小标题样式 */
        .typing-tittle-small {
            font-family: 'Playwrite AU SA Light', monospace;
            font-size: 1.75em; /* 设置小标题字体大小 */
            color:var(--md-sys-color-on-background); /* 设置小标题颜色为蓝色 */
        }
        /* 大标题样式 */
        .typing-tittle-large {
            font-family: 'Playwrite AU SA Light', monospace;
            font-size: 3em; /* 设置大标题字体大小 */
            color: var(--md-sys-color-on-background); /* 设置大标题颜色为蓝色 */
        }
        /* 中等大小正文样式 */
        .typing-body-mid {
            font-family: 'Playwrite GB S Light', monospace;
            font-size: 1em; /* 设置正文字体大小 */
            color: var(--md-sys-color-on-background); /* 设置正文颜色为灰色 */
        }
        /* 淡入效果样式 */
        .fade-in {
            opacity: 0; /* 初始设置为完全透明 */
            transition: opacity 0.5s ease-in-out; /* 添加0.5秒的淡入过渡效果 */
        }
        /* 逐字打印效果初始样式 */
        [data-printonebyone="true"] {
            visibility: hidden; /* 初始隐藏需要逐字打印的元素 */
        }
        .surface {
            /* ... */
             position: relative;
             border-radius: 16px;
             height:  fit-content;
             width:  fit-content;
            transition-duration: 250ms;
            transition-timing-function: ease-in-out;
        
            --md-elevation-level: 3;
        }
        .surface:active {
            --md-elevation-level: 0;
          }
        :root, .light-theme {
            --md-sys-color-primary-rgb: 0,110,33;
            --md-sys-color-primary: #006e21;
            --md-sys-color-on-primary-rgb: 255,255,255;
            --md-sys-color-on-primary: #ffffff;
            --md-sys-color-primary-container-rgb: 139,251,143;
            --md-sys-color-primary-container: #8bfb8f;
            --md-sys-color-on-primary-container-rgb: 0,33,5;
            --md-sys-color-on-primary-container: #002105;
            --md-sys-color-secondary-rgb: 82,99,79;
            --md-sys-color-secondary: #52634f;
            --md-sys-color-on-secondary-rgb: 255,255,255;
            --md-sys-color-on-secondary: #ffffff;
            --md-sys-color-secondary-container-rgb: 213,232,207;
            --md-sys-color-secondary-container: #d5e8cf;
            --md-sys-color-on-secondary-container-rgb: 16,31,16;
            --md-sys-color-on-secondary-container: #101f10;
            --md-sys-color-tertiary-rgb: 57,101,107;
            --md-sys-color-tertiary: #39656b;
            --md-sys-color-on-tertiary-rgb: 255,255,255;
            --md-sys-color-on-tertiary: #ffffff;
            --md-sys-color-tertiary-container-rgb: 188,235,241;
            --md-sys-color-tertiary-container: #bcebf1;
            --md-sys-color-on-tertiary-container-rgb: 0,31,35;
            --md-sys-color-on-tertiary-container: #001f23;
            --md-sys-color-error-rgb: 186,26,26;
            --md-sys-color-error: #ba1a1a;
            --md-sys-color-on-error-rgb: 255,255,255;
            --md-sys-color-on-error: #ffffff;
            --md-sys-color-error-container-rgb: 255,218,214;
            --md-sys-color-error-container: #ffdad6;
            --md-sys-color-on-error-container-rgb: 65,0,2;
            --md-sys-color-on-error-container: #410002;
            --md-sys-color-background-rgb: 252,253,246;
            --md-sys-color-background: #fcfdf6;
            --md-sys-color-on-background-rgb: 26,28,25;
            --md-sys-color-on-background: #1a1c19;
            --md-sys-color-surface-rgb: 252,253,246;
            --md-sys-color-surface: #fcfdf6;
            --md-sys-color-on-surface-rgb: 26,28,25;
            --md-sys-color-on-surface: #1a1c19;
            --md-sys-color-surface-variant-rgb: 222,229,217;
            --md-sys-color-surface-variant: #dee5d9;
            --md-sys-color-on-surface-variant-rgb: 66,73,64;
            --md-sys-color-on-surface-variant: #424940;
            --md-sys-color-outline-rgb: 114,121,111;
            --md-sys-color-outline: #72796f;
            --md-sys-color-outline-variant-rgb: 194,201,189;
            --md-sys-color-outline-variant: #c2c9bd;
            --md-sys-color-shadow-rgb: 0,0,0;
            --md-sys-color-shadow: #000000;
            --md-sys-color-scrim-rgb: 0,0,0;
            --md-sys-color-scrim: #000000;
            --md-sys-color-inverse-surface-rgb: 47,49,45;
            --md-sys-color-inverse-surface: #2f312d;
            --md-sys-color-inverse-on-surface-rgb: 240,241,235;
            --md-sys-color-inverse-on-surface: #f0f1eb;
            --md-sys-color-inverse-primary-rgb: 111,222,117;
            --md-sys-color-inverse-primary: #6fde75;
          }
          .dark-theme {
            --md-sys-color-primary-rgb: 111,222,117;
            --md-sys-color-primary: #6fde75;
            --md-sys-color-on-primary-rgb: 0,57,13;
            --md-sys-color-on-primary: #00390d;
            --md-sys-color-primary-container-rgb: 0,83,23;
            --md-sys-color-primary-container: #005317;
            --md-sys-color-on-primary-container-rgb: 139,251,143;
            --md-sys-color-on-primary-container: #8bfb8f;
            --md-sys-color-secondary-rgb: 185,204,180;
            --md-sys-color-secondary: #b9ccb4;
            --md-sys-color-on-secondary-rgb: 37,52,35;
            --md-sys-color-on-secondary: #253423;
            --md-sys-color-secondary-container-rgb: 59,75,57;
            --md-sys-color-secondary-container: #3b4b39;
            --md-sys-color-on-secondary-container-rgb: 213,232,207;
            --md-sys-color-on-secondary-container: #d5e8cf;
            --md-sys-color-tertiary-rgb: 161,206,213;
            --md-sys-color-tertiary: #a1ced5;
            --md-sys-color-on-tertiary-rgb: 0,54,60;
            --md-sys-color-on-tertiary: #00363c;
            --md-sys-color-tertiary-container-rgb: 31,77,83;
            --md-sys-color-tertiary-container: #1f4d53;
            --md-sys-color-on-tertiary-container-rgb: 188,235,241;
            --md-sys-color-on-tertiary-container: #bcebf1;
            --md-sys-color-error-rgb: 255,180,171;
            --md-sys-color-error: #ffb4ab;
            --md-sys-color-on-error-rgb: 105,0,5;
            --md-sys-color-on-error: #690005;
            --md-sys-color-error-container-rgb: 147,0,10;
            --md-sys-color-error-container: #93000a;
            --md-sys-color-on-error-container-rgb: 255,180,171;
            --md-sys-color-on-error-container: #ffb4ab;
            --md-sys-color-background-rgb: 26,28,25;
            --md-sys-color-background: #1a1c19;
            --md-sys-color-on-background-rgb: 226,227,221;
            --md-sys-color-on-background: #e2e3dd;
            --md-sys-color-surface-rgb: 26,28,25;
            --md-sys-color-surface: #1a1c19;
            --md-sys-color-on-surface-rgb: 226,227,221;
            --md-sys-color-on-surface: #e2e3dd;
            --md-sys-color-surface-variant-rgb: 66,73,64;
            --md-sys-color-surface-variant: #424940;
            --md-sys-color-on-surface-variant-rgb: 194,201,189;
            --md-sys-color-on-surface-variant: #c2c9bd;
            --md-sys-color-outline-rgb: 140,147,136;
            --md-sys-color-outline: #8c9388;
            --md-sys-color-outline-variant-rgb: 66,73,64;
            --md-sys-color-outline-variant: #424940;
            --md-sys-color-shadow-rgb: 0,0,0;
            --md-sys-color-shadow: #000000;
            --md-sys-color-scrim-rgb: 0,0,0;
            --md-sys-color-scrim: #000000;
            --md-sys-color-inverse-surface-rgb: 226,227,221;
            --md-sys-color-inverse-surface: #e2e3dd;
            --md-sys-color-inverse-on-surface-rgb: 47,49,45;
            --md-sys-color-inverse-on-surface: #2f312d;
            --md-sys-color-inverse-primary-rgb: 0,110,33;
            --md-sys-color-inverse-primary: #006e21;
          }
    </style>